@use "../../config/config.scss";
@use "../../config/util.scss";

main#gevolgen {
    @include util.width-per-screen-size(true, true);
    h1 {
        width: 100%;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 0;
    }
    section {
        padding: 1rem;
        h4 {
            font-size: 1.3rem;
            margin-top: 0;
        }
    }
    section.image {
        
        display: flex;
        img {
            width: 30%;
            margin: 1rem;
            object-fit: contain;
        }
        @media screen and (max-width: config.get-screen-size("l")) {
            flex-direction: column;
            align-items: center;
            img {
                width: 90%;
            }
        }
    }
}

