@use "../../config/config.scss";
@use "../../config/util.scss";

main {
    h2 {
        text-align: center;
    }
    .container {
        background-color: config.get-color("container-bg");
        @include util.width-per-screen-size(true, true);
        padding: 1rem;
        border-radius: 1rem;
        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &:nth-of-type(even) {
                flex-direction: row-reverse;
                .text {
                    text-align: right;
                    a {
                        align-self: flex-end;
                    }
                }
            }
            .img {
                // max-height: 20rem;
                max-width: 40%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .text {
                width: 50%;
                flex-direction: column;
                justify-content: flex-start;
                a {
                    background-color: config.get-color("secondary");
                    width: fit-content;
                    padding: .5rem 1rem;
                    border-radius: 1rem;
                    text-decoration: none;
                    color: util.should-text-be-dark(config.get-color("secondary"));
                    transition: all 150ms ease-out;
                    &:hover {
                        background-color: config.get-color("kenmerken-secondary");
                    }
                }
            }
        }
        hr {
            color: #ABABAB;
        }
    }
}