@use "../../config/config.scss";
@use "../../config/util";

main {
    #title {
        text-align: center;
    }
    .content {
        display: flex;
        justify-content: center;
        background-color: config.get-color("container-bg");
        @include util.width-per-screen-size(true, true);
        display: grid;
        position: relative;
        padding-bottom: 2rem;
        border-radius: 0.75rem;
        .intro-text {
            margin-left: 1rem;
            margin-bottom: 1rem;
        }
        .img-container {
            display: flex;
            justify-content: space-around;
            z-index: 2;
            position: relative;
            .medicatie {
                $amountOfBottles: 3;
                transition: all 300ms ease-out;
                &:not(:nth-of-type(1)) {
                    position: absolute;
                    transform: translate(-50%, 0);
                    &.selected {
                        left: 50%;
                    }
                }
                &:nth-of-type(1) {
                    position: relative;
                }
                @for $i from 2 through $amountOfBottles {
                    &:nth-of-type(#{$i}) {
                        left: 33% * ($i - 1);
                    }
                }
                .img {
                    position: relative;
                    width: fit-content;
                    cursor: pointer;
                    .overlay {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 50%;
                        text-align: center;
                        color: config.get-color("primary");
                        font-weight: bold;
                    }
                }
                .text-container {
                    top: 50%;
                    left: 100%;
                    width: 30rem;
                    position: absolute;
                    visibility: hidden;
                    transition: all 300ms ease-out;
                    transform-origin: left center;
                    transform: scaleX(0) translate(0, -50%);
                }
                &.hidden {
                    opacity: 0;
                    pointer-events: none;
                }
                &.selected {
                    display: flex;
                    align-items: center;
                    .text-container {
                        visibility: visible;
                        margin-left: -5px;
                        transform: scaleX(1) translate(0, -50%);
                        background-color: config.get-color("medicatie-popup");
                        padding: 1rem;
                        border-top-right-radius: 1rem;
                        border-bottom-right-radius: 1rem;
                        img {
                            position: absolute;
                            top: 0.5rem;
                            right: 0.5rem;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        #pills {
            width: 50%;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
        }
    }
}


@media screen and (max-width: config.get-screen-size("l")) {
    main {
        .content {
            .img-container {
                flex-direction: column;
                .medicatie {
                    position: relative !important;
                    left: 0 !important;
                    transform: none !important;
                    .text-container {
                        width: 100%;
                        height: 30rem;
                        left: 0;
                        top: 100%;
                        transform: none;
                    }
                }
            }
        }
    }
}